/*Styling my photo and my logo- /*Hassan Kobeissi - about.css intended for about.html*/
.Me {
    padding-left: 655px;
}
.Snapchat {
    padding-left: 875px;
}
.SimpleIntro {
    text-align: center;
}
.about {
  
    }
